body{
    background-color: rgb(58, 59, 58);

}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.text-center{
    margin: 30px;
}
.container{
    display:flex;
    flex-direction: row;
    
}
.card {
    width: 250px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
    background: rgb(120, 120, 120);
  }

